<h1>Your Cart</h1>
<p>Find me in app/views/cart/index.html.erb</p>

<% if @cart.empty? %>
  <p>Your Cart is currently empty</p>
<% else %>
  <%= link_to 'Empty Your Cart', cart_clear_path%>
<% end %>
<br>
<a href="/products" class="">Continue Shopping</a>
<br><br><br>


<table>
        <thead>
          <tr>
              <th data-field="id">Item Name</th>
              <th data-field="name">Description</th>
              <th data-field="quantity">Quantity</th>
              <th data-field="price">Item Price</th>

          </tr>
        </thead>
        <%total = 0%>
        <tbody>

          <% @cart.each do | id,quantity |%>
            <% product = Product.find_by_id(id) %>

            <tr>

              <td><%= link_to product.title, product%></td>
              <td><%= product.description %></td>
              <td><%=quantity%></td>
              <td><%= number_to_currency(product.price, :unit => '฿') %></td>

            </tr>



            <% total += quantity * product.price %>



        </tbody>

        <% end %>

      </table>
<%= number_to_currency(total, :unit => '฿')%>
