<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
      <p id="notice"><%= notice %></p>
      <img class="materialboxed" width="350" data-caption= <%= @poi_grips_info.title_name %> src= <%= @poi_grips_info.image.url(:large) %> >
      <table class="striped">
        <thead>
          <tr>
            <th data-field="title">Title</th>
            <th data-field="description">Description</th>
            <th data-field="color">Color</th>
            <th data-field="price">Price</th>
            <%if user_signed_in? %>
            <th data-field="stock">Stock</th>
            <%end%>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td> <%= @poi_grips_info.title_name %> </td>
            <td> <%= @poi_grips_info.description %> </td>
            <td> <%= @poi_grips_info.color %> </td>
            <td> <%= number_to_currency(@poi_grips_info.price, :unit => '฿') %> </td>
            <%if user_signed_in? %>
            <td> <%= @poi_grips_info.stock %> </td>
            <%end%>
          </tr>
        </tbody>
      </table> <br>
      <a class="waves-effect waves-light btn blue darken-4"   <%= link_to 'Edit', edit_poi_grips_info_path(@poi_grips_info) %> </a>
      <a class="waves-effect waves-light btn blue darken-4" <%= link_to 'Back', poi_grips_infos_path %> </a>
    </div>
  </div>
</div>
