
<%if user_signed_in? %>
<p id="notice"><%= notice %></p>

<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">

      <h3>Listing Shuttlecocks Product</h3>

      <table>
        <thead>
          <tr>
            <th>Title name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @poi_shuttlecocks_infos.each do |poi_shuttlecocks_info| %>
          <tr>
            <td><%= poi_shuttlecocks_info.title_name %></td>
            <td><%= poi_shuttlecocks_info.description %></td>
            <td><%= image_tag poi_shuttlecocks_info.image.url(:thumb) %></td>
            <td><%= poi_shuttlecocks_info.price %></td>
            <td><%= poi_shuttlecocks_info.stock %></td>
            <td><%= link_to 'Show', poi_shuttlecocks_info %></td>
            <td><%= link_to 'Edit', edit_poi_shuttlecocks_info_path(poi_shuttlecocks_info) %></td>
            <td><%= link_to 'Destroy', poi_shuttlecocks_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <a class="waves-effect waves-light btn blue darken-4 right" href= "/poi_shuttlecocks_infos/new">New Shuttlecocks Product</a>
  </div>
</div>
<br><br>

<% else %>

<p id="notice"><%= notice %></p>
<h3 class="center hide-on-small-only">All Shuttlecocks Collections</h3>
<h5 class="center hide-on-med-and-up">All Shuttlecocks Collections</h5>

<div class="row">
<% @poi_shuttlecocks_infos.each do |poi_shuttlecocks_info| %>
  <% if poi_shuttlecocks_info.stock != 0 %>
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src= <%= poi_shuttlecocks_info.image.url(:large) %>  >
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= poi_shuttlecocks_info.title_name %><i class="fa fa-ellipsis-v right"></i></span>
        <p><%= number_to_currency(poi_shuttlecocks_info.price, :unit => '฿') %></p>
        <br>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= poi_shuttlecocks_info.title_name %><i class="fa fa-times right"></i></span>
        <p>Description: <%= poi_shuttlecocks_info.description %></p>
        <p>Price: <%= number_to_currency(poi_shuttlecocks_info.price, :unit => '฿') %></p>
        <p>In Stock</p>
        <p>For more information, Please Click button</p>
        <a class="waves-effect waves-light btn blue darken-4" href="/page/contact"><i class="fa fa-hand-o-right"></i>Contact us</a>
      </div>
    </div>
  </div>
<%end%>
<% end %>
</div>



<br>
<% end%>
