    <div class="card">
      <nav class="center blue darken-4">
          <div class="nav-wrapper">
            <h4>Log In</h4>
          </div>
        </nav>
      <div class="card-content">
        <!-- <center> -->

        <div class="center">
          <img src="http://www.trademarkia.com/logo-images/gosen-co/good-gosen-85293191.jpg" class="responsive-img" style="max-height: 100px;"/>

          <img src="http://h.lnwfile.com/_/h/_raw/c1/zi/34.jpg" class="responsive-img" style="max-height: 100px; max-width: 350px;"/>
          </div>
          <br>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="input-field">
              <%= f.label :email%><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="input-field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>

              </div><br>
            <% end %>
            <div class="center">
            <%= f.submit "Log In", class: "btn blue darken-4" %>
            <% end %>
            </div>

            <br>

            <%= render "devise/shared/links" %>


      </div>
    </div>
