<%= form_for @product, html: {multipart: true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
      <form action="#">
        <div class="file-field input-field ">
          <div class="btn blue darken-4">
            <span>File</span>
            <input type="file" multiple> <%= f.file_field :image %> </input>
          </div>
          <div class="file-path-wrapper ">
            <input class="file-path validate " type="text" placeholder="Upload one or more files">
          </div>
        </div>
      </form>
      <br>

      <div class="field">
        <label for="product_name">Product Name</label>
        <%= f.text_field :title %>
      </div><br>

      <div class="input-field">
        <%= f.label :description %><br><br>
        <%= f.text_area :description, class: "materialize-textarea" %>
      </div><br>

      <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price %>
      </div><br>
      <div class="field">
        <%= f.label :category %><br>
        <%= f.text_field :category %>
      </div><br>
      <div class="field">
        <%= f.label :subcategory %><br>
        <%= f.text_field :subcategory %>
      </div><br>
      <div class="field">
        <%= f.label :stock %><br>
        <%= f.number_field :stock %>
      </div><br>


      <div class="actions btn waves-effect waves-light blue darken-4" type="submit" name="commit">
        <%= f.submit %>
        <i class="fa fa-paper-plane"></i>
      </div>
      <br><br>
      <% end %>

    </div>
  </div>
</div>
