<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
      <p id="notice"><%= notice %></p>
      <img class="materialboxed" width="350" data-caption= <%= @product.title %> src= <%= @product.image.url(:large) %> >
<!-- <%= image_tag @product.image.url(:medium) %> -->
      <table class="striped">
        <thead>
          <tr>
            <th data-field="title">Title</th>
            <th data-field="description">Description</th>
            <th data-field="price">Item Price</th>
            <th data-field="category">Category</th>
            <th data-field="subcategory">Subcategory</th>
            <th data-field="poiproductinfos">poi count</th>
            <%if user_signed_in? %>
            <th data-field="stock">Stock</th>
            <%end%>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td> <%= @product.title %> </td>
            <td> <%= @product.description %> </td>
            <td> <%= number_to_currency(@product.price, :unit => '฿') %> </td>
            <td> <%= @product.category %> </td>
            <td> <%= @product.subcategory %> </td>
            <td> <%= @product.poi_product_infos.count %></td>
            <%if user_signed_in? %>
            <td> <%= @product.stock %> </td>
            <%end%>
          </tr>
        </tbody>
      </table> <br>

<!--
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p> -->

<!-- <p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p> -->
<!--
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :unit => '฿') %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>
<%if user_signed_in? %>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>
<%end%> -->
      <a class="waves-effect waves-light btn blue darken-4"   <%= link_to 'New Racket', new_poi_racket_info_path(product_id: @product.idnfos) %> </a>
      <a class="waves-effect waves-light btn blue darken-4"   <%= link_to 'Edit', edit_product_path(@product) %> </a>
      <a class="waves-effect waves-light btn blue darken-4" <%= link_to 'Back', products_path %> </a>
    </div>
  </div>
</div>
