<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
<p id="notice"><%= notice %></p>
<img class="materialboxed" width="350" data-caption= <%= @product.title %> src= <%= @product.image.url(:large) %> >
<!-- <%= image_tag @product.image.url(:medium) %> -->
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<!-- <p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p> -->

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :unit => '฿') %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>
<%if user_signed_in? %>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>
<%end%>
</div>
</div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
