<!DOCTYPE html>
<html>
<head>
  <title>Project1Fitness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>
<body>
  <!-- Dropdown Structure -->
  <%= render 'layouts/header'%>
  <%if user_signed_in? %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  <%else%>
    <div class="parallax-container">
      <div class="parallax"><img src="http://www.rsl-1928.com/products/6-apparel.jpg"></div>
    </div>
      <div class= "container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://scontent.fbkk2-1.fna.fbcdn.net/hphotos-xtf1/t31.0-8/s2048x2048/11822974_10153606540743804_6898329207281046568_o.jpg"></div>
    </div>

  <%end%>






  <%= render 'layouts/footer'%>




</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
  $(function(){
    $(document).ready(function(){
      $('.slider').slider({
        full_width: true,
        height:600,
      });
      $(document).ready(function(){
        $('.parallax').parallax();
      });
    });


  });
</script>
</html>
