<!DOCTYPE html>
<html>
<head>
  <title>Project1Fitness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<style>
.parallax-container {
      height: "100 px";
    }

}
</style>
<body class="">
  <!-- Dropdown Structure -->
  <%= render 'layouts/header'%>
  <%if user_signed_in? %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  <%else%>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag("bbb.jpg") %></div>
    </div>
      <div class= "container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

    </div>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag("bkb2.jpg") %></div>
    </div>

  <%end%>






  <%= render 'layouts/footer'%>




</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
  $(function(){
    $(document).ready(function(){
      $('.slider').slider({
        full_width: true,
        height:425,
      });
      $(document).ready(function(){
        $('.parallax').parallax();
      });
    });


  });
</script>
</html>
